{% extends "base.html" %}

{% block title %} &ndash; Index{% endblock %}

{% block content %}
<article class="single">
  <header>
    <h1 id="index">Index</h1>
  </header>
  <div>
    {% set categories = pages|rejectattr("category", "eq", "misc")|groupby("category") %}
    {% for cat, pages in categories %}
    <div class="section">
      <h2>{{ cat }}</h2>
      <ul class="simple">
        {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</article>

{% endblock %}
