a, a:hover {
    color: #568f56;
}
a:hover {
    text-decoration: underline;
}
aside div img {
    border-radius: 0;
    max-width: 75%;
}
aside nav ul li {
    text-transform: none;
}
article > div {
    display: flex;
    flex-flow: row wrap;
}
article > div > div {
    padding-right: 2em;
}
